models/
data/
figures/
__pycache__/
logs/
bkg_orig_rms_median.txt
bkg_rms_median.txt
bkg_sub_rms_median.txt
progress*
tables/service_key_google_cloud.json
databases/
auth/
cutouts/
upload_checkpoints/
*.parquet