models/
data/
figures/
__pycache__/
logs/
bkg_orig_rms_median.txt
bkg_rms_median.txt
bkg_sub_rms_median.txt
progress*
tables/service_key_google_cloud.json
databases/
auth/
cutouts/
upload_checkpoints/
*.parquet
desi/
tables/all_desi_unions_matched.csv
notebooks/inference.ipynb
inference-checkpoint.ipynb
test_results/
credentials*
tables/dwarfs_gri_w_group_flag.csv
tables/elves_host_info.csv
tables/fifty_mpc_catalog.fits
tables/fifty_mpc_catalog_short.fits
tables/HECATE_v1.1.fits
tables/*checkpoint*
tables/matlas_host_info.csv
tables/tiles_gri_w_group_flag.csv
data_cutouts_gri/
train_cutouts_gri/
data_cutouts_r/
notebooks/*log
failed_tiles.txt
gpu_test*
inference_summary*
src/dwarforge.egg-info/
.vscode/
.ruff_cache/
ruff.toml
requirements.txt