astroquery
numpy
scipy
matplotlib
opencv-python
astropy
pandas
scikit-learn
scikit-image
photutils
sep
joblib
h5py
astride
vos
psutil
pyarrow
concurrent-log-handler
PyWavelets
tqdm
google-auth-oauthlib>=1.0.0
google-auth-httplib2>=0.1.0
google-api-python-client>=2.100.0
oauth2client>=4.1.3
tenacity>=8.2.0
torch
torchvision
torchaudio
timm
pyro-ppl
pytorch-lightning
zoobot
pydantic